path {
stroke : rgb(0, 0, 0) ;
fill : paleturquoise !important ;
transition : fill .4s ease ;
}

path:hover {
fill : rgb(253, 158, 33) !important ;
}

#ind-map {
display : block ;
position : absolute ;
top : 0 ;
left : 50px ;
width : 100% ;
height : 100% ;
}
path:hover, circle:hover {
stroke : #021849 !important ;
stroke-width : 2px ;
stroke-linejoin : round ;
fill : #ffa600 !important ;
cursor : pointer ;
}
#path67 {
fill : none !important ;
stroke : #47a0f3 !important ;
cursor : default ;
}
#details-box1 {
display : none;
position : absolute;
top : 0px ;
left : 0px ;
z-index : 1 ;
background-color : #d8a9f7 ;
border : 2px solid #000000 ;
border-radius : 5px ;
padding : 5px ;
font-family : arial ;
}
#details-box {
padding : 1rem ;
border-radius : 8px ;
font-size : 14px ;
position : fixed ;
color : rgb(0, 0, 0) ;
font-family : " Poppins " ;
background-color : #131313 ;
width : fit-content ;
transform : translateX (-50%) ;
transition : opacity .4s ease ;
}